header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  list-style: none;
  align-items: center;
}

.nowrap {
  white-space: nowrap;
}

.nav-link {
  text-decoration: none;
  color: var(--green);
  font-weight: 600;
  font-size: 16px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.hero-content h2 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
}

.hero-content p {
  margin-top: 0;
  margin-bottom: 20px;
}

.hero-btns {
  display: flex;
  align-items: center;
  gap: 16px;
}

.client-logos {
  padding-top: 60px;
  padding-bottom: 60px;
}

.client-list {
  border-top: 1px solid var(--gray);
  border-bottom: 1px solid var(--gray);
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  justify-items: center;
  gap: 32px;
}

.client-list img {
  max-width: 100%;
  width: auto;
  object-fit: contain;
}

.features {
  margin-top: 64px;
  margin-bottom: 64px;
}

.section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section-header h1 {
  margin-bottom: 0;
}

.section-box {
  width: 100%;
  max-width: 370px;
  padding: 30px;
  box-sizing: border-box;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    color 0.2s ease,
    border-color 0.2s ease;
}

.section-box h2 {
  font-weight: 500;
}

.section-box p {
  margin: 6px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.section-box .btn {
  margin-top: auto;
  max-width: 100%;
  width: 100%;
}

.section-box:has(.plan-radio:checked) {
  background-color: var(--green);
  color: var(--white);
  border-color: var(--green);
}

.section-box:has(.plan-radio:checked) .check-icon {
  content: url("assets/img/check-white.png");
}

.section-box:has(.plan-radio:checked) .btn::after {
  content: " → ";
}

.section-box:has(.plan-radio:checked) .btn {
  background-color: var(--white);
  color: var(--green);
  border-color: var(--white);
}

.card-white {
  background-color: var(--white);
  border: 1px solid var(--light-green);
  border-radius: 16px;
}

.card-green {
  background-color: var(--green);
  color: var(--white);
  border-radius: 16px;
}

.learn-more {
  display: flex;
  gap: 8px;
  font-weight: 500;
  align-items: center;
  margin-top: 8px;
}

.metrics {
  margin-top: 64px;
  margin-bottom: 64px;
}

.section-box-border-bottom {
  max-width: 270px;
  height: 170px;
  border-bottom: 4px solid var(--peach);
  background-color: var(--white);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section-box-border-bottom h2 {
  margin-bottom: 0;
}

.get-started {
  margin-top: 64px;
  margin-bottom: 64px;
}

.get-started-content h1 {
  margin-top: 64px;
  margin-bottom: 0;
}

.get-started-content p {
  margin-top: 32px;
  margin-bottom: 32px;
}

.customer-feedback {
  margin-top: 64px;
  margin-bottom: 64px;
}

.customer-name {
  margin: 0;
}

.customer-title {
  margin: 0;
  margin-bottom: 16px;
}

.rating-stars {
  margin-top: 16px;
}

.plans {
  margin-top: 64px;
  margin-bottom: 64px;
}

.price {
  font-size: 32px;
  font-weight: bold;
}

.team {
  margin-top: 64px;
  margin-bottom: 64px;
}

.team .section-box {
  padding: 0 !important;
}

.member-photo {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: 0;
}

.team-member-name {
  margin-bottom: 16px;
}

.team-member-contact {
  width: 100%;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--gray);
}

.contact-icon {
  width: 32px !important;
  height: 32px !important;
}

.promo {
  margin-top: 64px;
  margin-bottom: 64px;
}

.promo-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--peach);
  border-radius: 16px;
}

.promo-header {
  margin-left: 64px;
}

.promo-header .btn {
  width: 100%;
}

.contact {
  margin-top: 64px;
  margin-bottom: 64px;
  padding: 32px;
  background-color: var(--white);
  border: 1px solid var(--light-green);
  border-radius: 16px;
}

.contact .section-header {
  align-items: start;
  text-align: start;
}

.contact-content {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  margin-bottom: 32px;
}

.contact-content p {
  display: flex;
}

.contact-content a {
  text-decoration: none;
  color: var(--primary);
}

.contact-icons {
  margin-top: 64px;
}

.contact-icons a {
  margin-right: 16px;
}

.contact-form {
  margin-right: 64px;
  margin-left: 132px;
}

.contact-form .btn {
  width: 160px;
  font-weight: 500;
  margin-top: 16px;
}

.form-field {
  position: relative;
  margin-bottom: 16px;
  width: 100%;
}

.form-field .input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.form-field input {
  width: 465px;
  border: 1px solid var(--gray);
  border-radius: 16px;
  padding: 16px 16px 16px 56px;
  color: var(--primary);
  box-sizing: border-box;
}

footer {
  background-color: var(--primary);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 64px;
  padding-right: 64px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.footer-logos a {
  margin-right: 8px;
}

/* Mobile */
@media (max-width: 767px) {
  .navbar {
    justify-content: center;
  }

  .nav-list {
    display: none;
  }

  .hero {
    flex-direction: column;
    padding-top: 30px;
  }

  .hero-content {
    align-items: center;
    text-align: center;
  }

  .hero-content h2 {
    font-size: 36px;
  }

  .hero-btns {
    justify-content: center;
  }

  .hero-btns a:nth-child(1) {
    width: 100%;
  }

  .hero-btns a:nth-child(2) {
    display: none;
  }

  .hero-img {
    width: 300px;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 16px;
    margin-right: 16px;
    object-fit: cover;
  }

  .client-logos {
    margin-left: -50px;
    margin-right: -50px;
  }

  .client-list {
    grid-template-columns: repeat(3, 1fr);
    padding-left: 32px;
    padding-right: 32px;
  }

  .metrics .section-boxes {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-content: center;
    gap: 20px;
  }

  .get-started {
    justify-content: center;
    text-align: center;
  }

  .get-started-img {
    width: 300px;
    object-fit: contain;
  }

  .get-started-content {
    align-items: center;
  }

  .get-started-content a {
    width: 100%;
  }

  .get-started-content h1 {
    font-size: 24px;
    font-weight: 500;
    margin-top: 0;
  }

  .customer-feedback .section-header h1 {
    font-size: 30px;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1279px) {
  .nav-list {
    display: flex;
  }

  .nav-item:nth-child(1),
  .nav-item:nth-child(3) {
    display: none;
  }

  .hero {
    flex-direction: column;
  }

  .hero-content h2 {
    font-size: 64px;
  }

  .hero-content {
    align-items: center;
    text-align: center;
  }

  .hero-btns {
    justify-content: center;
  }

  .hero-btns a:nth-child(1) {
    width: 100%;
  }

  .hero-btns a:nth-child(2) {
    display: none;
  }

  .hero-img {
    width: 300px;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 16px;
    margin-right: 16px;
    object-fit: cover;
  }

  .features .row {
    flex-direction: column;
    align-items: center;
  }

  .features .section-box {
    max-width: 680px;
  }

  .get-started-img {
    width: 320px;
    object-fit: contain;
  }

  .customer-feedback .section-box {
    display: grid;
    grid-template-columns: 220px 1fr;
    column-gap: 32px;
    max-width: 680px;
    text-align: left;
    align-content: center;
  }
  .customer-feedback .section-box img {
    justify-self: center;
    grid-column: 1;
    grid-row: 2;
  }

  .customer-feedback .customer-name {
    text-align: center;
    grid-column: 1;
    grid-row: 3;
  }
  .customer-feedback .customer-title {
    text-align: center;
    grid-column: 1;
    grid-row: 4;
  }

  .customer-feedback .section-box p {
    grid-column: 2;
    grid-row: 1/4;
    align-self: center;
  }

  .customer-feedback .section-box .rating-stars {
    grid-column: 2;
    grid-row: 4;
    justify-self: start;
  }
}
